@{
	Layout = "~/Shared/_Layout.cshtml";

	List<string> tableFirstName = new List<string>() {
		"Jack", "Jill", "Tidus"
	};
	List<string> tableLastName = new List<string>() {
		"Skeleton", "Valentine", "Hill"
	};
	List<string> tableMajor = new List<string>()
	{
		"MBA", "Criminal Justice", "Redneck"
	};

	List<string> tableTedious = new List<string>() {
		"10", "5", "1"
	};
}

<!DOCTYPE html>
<html>
    <head>
        <title>On Page Three</title>
    </head>
    <body>
			<table class="table table-hover">
				<thead>
					<tr class="">
						<td><b>First Name</b></td>
						<td><b>Last Name</b></td>
						<td><b>Major</b></td>
						<td><b>Tedious Level</b></td>
					</tr>
				</thead>
				@for (int i = 0; i < 3; i++)
				{
					<tr>
						<td>@tableFirstName.ElementAt(i)</td>
						<td>@tableLastName.ElementAt(i)</td>
						<td>@tableMajor.ElementAt(i)</td>
						<td>@tableTedious.ElementAt(i)</td>
					</tr>
			}
				@{
					var tediousInput = Request["input"];
					var firstName = Request["FirstName"];
					var lastName = Request["LastName"];
					var major = Request["Major"];
					if (!string.IsNullOrWhiteSpace(firstName))
					{
						<tr>
							<td>@firstName</td>
							<td>@lastName</td>
							<td>@major</td>
							<td>@tediousInput</td>
						</tr>
					}
				}
			</table>
		
    </body>
</html>
